<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yeejay.yplay">

    <uses-sdk tools:overrideLibrary="com.jwenfeng.library" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE " />

    <!-- mi push -->
    <permission
        android:name="com.yeejay.yplay.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.yeejay.yplay.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".YplayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_yplay"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_yplay"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">

        <!-- 百度key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="xM1oHMw41RihfITRHYLCEkhEC1TPqmox"></meta-data>

        <!-- 华为APPID -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="100118923" />

        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="com.yeejay.yplay.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <!-- android7.0文件相关 -->
        <!-- <provider -->
        <!-- android:authorities="com.yeejay.yplay" -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:grantUriPermissions="true" -->
        <!-- android:exported="false"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/filepaths" -->
        <!-- /> -->
        <!-- </provider> -->

        <activity
            android:name=".login.LoadingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginAge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".login.UserPrivacy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ActivityInviteCode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".login.LoginAuthorization"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ClassList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.SchoolList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".login.ChoiceSex"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.UserInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".login.AddFriendGuide"
            android:screenOrientation="portrait" />
        <activity
            android:name=".answer.ActivityInviteFriend"
            android:screenOrientation="portrait" />
        <activity
            android:name=".answer.ActivityInvite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".friend.ActivityFriendsInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".friend.AddFriends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".friend.ActivityAddFiendsDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.ActivityChatWindow"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".userinfo.ActivityMyInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userinfo.ActivityAllDiamond"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userinfo.ActivityAboutOur"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userinfo.ActivitySetting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".friend.ActivityContacts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".friend.ActivityWaitInvite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".friend.ActivitySearchFriends"
            android:screenOrientation="portrait" />

        <!-- <activity android:name=".login.LoadingActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- /> -->

        <activity
            android:name=".userinfo.ActivityMyFriends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userinfo.ActivityFriendRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contribute.ActivityContribute1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".contribute.ActivityContribute2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contribute.ActivityContributeComplete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contribute.ActivityContributeQuery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contribute.ActivityContributeReedit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.ActivityNnonymityReply"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize|stateAlwaysHidden" />

        <!-- 上传通讯录的服务 -->
        <service
            android:name=".service.ContactsService"
            android:enabled="true"
            android:exported="true" />

        <!-- service -->
        <!-- WNS service,注意进程名为:wns ，其它组件请不要使用这个进程名 -->
        <service
            android:name="com.tencent.wns.service.WnsMain"
            android:exported="false"
            android:process=":wns">
            <intent-filter>
                <action android:name="com.tencent.wns.service.WnsMain" />
            </intent-filter>
        </service>
        <!-- 注册WNS 心跳接收器 -->
        <receiver
            android:name="com.tencent.base.os.clock.AlarmClockReceiver"
            android:exported="false"
            android:process=":wns">
            <intent-filter>
                <action android:name="wns.heartbeat" />
            </intent-filter>
        </receiver>

        <!-- <activity android:name=".friend.TestActivity"/> -->


        <!-- 百度服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- IM消息相关 -->
        <!-- 【必须】消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="true"
            android:process=":QALSERVICE" />
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" />

        <!-- 【必须】 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>

            <!-- ImSDK 3.0.2 后添加 -->
            <intent-filter>
                <action android:name="com.tencent.qalsdk.service.TASK_REMOVED" />
            </intent-filter>
        </receiver>

        <!-- mipush -->
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":MiPushService" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":MiPushService" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name=".utils.MiPushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":MiPushService">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <!-- mipush -->


        <!-- hwpush -->
        <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态、标签，LBS上报结果）广播 -->
        <receiver android:name=".utils.HwPushMessageReceiver">
            <intent-filter>

                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
                <!-- 可选，标签、地理位置上报回应，不上报则不需要 -->
                <action android:name="com.huawei.android.push.plugin.RESPONSE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息，兼容老版本PUSH -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>
        <!-- hwpush -->

    </application>

</manifest>