<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yeejay.yplay">

    <uses-sdk tools:overrideLibrary="com.jwenfeng.library" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".YplayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.Login"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginAge" />
        <!--<activity android:name=".login.Login" />-->
        <activity android:name=".login.LoginAuthorization" />
        <activity android:name=".login.ClassList" />
        <activity android:name=".login.SchoolList" />
        <activity android:name=".login.ChoiceSex" />
        <activity android:name=".login.UserInfo" />
        <activity android:name=".answer.ActivityInviteFriend" />
        <activity android:name=".answer.ActivityInvite" />
        <activity android:name=".friend.ActivityFriendsInfo" />
        <activity android:name=".friend.AddFriends" />
        <activity android:name=".friend.ActivityAddFiendsDetail" />
        <activity android:name=".message.ActivityChatWindow" />
        <activity android:name=".userinfo.ActivityMyInfo" />
        <activity android:name=".userinfo.ActivityAllDiamond" />
        <activity android:name=".userinfo.ActivityAboutOur" />
        <activity
            android:name=".userinfo.ActivitySetting"
            android:launchMode="singleTask" />
        <activity android:name=".friend.ActivityContacts" />
        <activity android:name=".friend.ActivitySchoolmate" />
        <activity android:name=".friend.ActivityWaitInvite" />
         <activity android:name=".MainActivity"/>

        <!-- service -->
        <!-- WNS service,注意进程名为:wns ，其它组件请不要使用这个进程名 -->
        <service
            android:name="com.tencent.wns.service.WnsMain"
            android:exported="false"
            android:process=":wns">
            <intent-filter>
                <action android:name="com.tencent.wns.service.WnsMain" />
            </intent-filter>
        </service>
        <!-- 注册WNS 心跳接收器 -->
        <receiver
            android:name="com.tencent.base.os.clock.AlarmClockReceiver"
            android:exported="false"
            android:process=":wns">
            <intent-filter>
                <action android:name="wns.heartbeat" />
            </intent-filter>
        </receiver>

        <activity android:name=".friend.ActivitySearchFriends"></activity>
    </application>

</manifest>